In [1]:
import pandas as pd

In [6]:
data=pd.read_csv("./data/최종기업목록.csv",encoding="utf-8-sig")
부실기업리스트=data[data["부실기업여부"]==1]
부실기업리스트

,회사명,회계년도,운전자산총자본비율,이익잉여금총자산비율,총자산이익율,시장가부채비율,매출액회전율,폐지일자,부실기업여부
0,네이쳐글로벌,2009,74.492049,-49.803589,-3.371182,673.432622,6.028268,2011-01-08,1
1,네프로아이티,2009,-0.465154,19.338150,13.884726,157.344363,76.780711,2011-11-05,1
2,뉴젠아이씨티,2009,27.593677,-1075.333708,-28.342808,136.342262,40.747316,2011-04-29,1
3,트루아워,2009,52.368738,-19.102365,-25.573719,412.297157,33.436299,2011-10-25,1
4,디패션,2009,20.920391,-333.294194,-23.158301,170.052742,71.074703,2011-05-07,1
...,...,...,...,...,...,...,...,...,...
130,위너지스,2016,4.206434,-376.016367,-21.360033,105.778735,78.213923,2018-10-11,1
131,위노바,2016,28.671608,-89.404580,-9.113157,487.272885,63.716291,2018-03-09,1
132,트레이스,2016,3.857923,-35.621815,0.788938,238.537763,22.490823,2018-10-11,1
133,레이젠,2016,-3.874133,-5.069385,-9.353084,190.706311,117.325339,2018-10-11,1
134,코썬바이오,2018,27.987275,-67.310998,-22.717546,583.153657,14.558605,2020-08-11,1

In [21]:
부도기사비율=pd.read_csv("./data/상폐기업_부도기사 비율.csv",encoding="utf-8-sig")
부도기사비율.columns=["회사명","부도기사 비율"]

In [49]:
df_2=pd.merge(부실기업리스트, 부도기사비율, on='회사명', how='left')
df_2.isnull().sum()
# # df_2[df_2['부도기사 비율'].isnull()]
# df_2[df_2["회사명"]=="선팩테크"]["회사명"]=="유비트론"
# df_2[df_2["회사명"]=="유에이블"]="디웍스 글로벌"
# df_2[df_2["회사명"]=="유에이블"]["회사명"]="디웍스 글로벌"
# df_2[df_2["회사명"]=="프리젠"]["회사명"]="프리젠 오리엔트 프리젠"
# df_2[df_2["회사명"]=="금강제강"]["회사명"]="에이치디시에스"
# 프리젠 오린테프리젠트,스맥스
# 금강제강 = 에이치디시에스
# df_2["회사명"]
df_3=df_2[df_2['부도기사 비율'].isnull()]
df_3["회사명"]=["유비트론","디에이치패션","인스프리트","에이치디시에스","미주제강","디웍스 글로벌","지티앤티","오리엔트 프리젠"]
df_3

C:\Users\jangd\AppData\Local\Temp\ipykernel_14120\3042625565.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3["회사명"]=["유비트론","디에이치패션","인스프리트","에이치디시에스","미주제강","디웍스 글로벌","지티앤티","오리엔트 프리젠"]

,회사명,회계년도,운전자산총자본비율,이익잉여금총자산비율,총자산이익율,시장가부채비율,매출액회전율,폐지일자,부실기업여부,부도기사 비율
6,유비트론,2009,-17.648784,-35.761328,-17.676380,156.288143,6.713979,2011-10-06,1,NaN
36,디에이치패션,2010,-13.394480,-160.678122,-10.423858,303.846355,14.633820,2012-08-01,1,NaN
52,인스프리트,2010,0.473339,-10.614094,1.199116,146.280736,69.463662,2012-10-12,1,NaN
59,에이치디시에스,2010,14.104276,17.245242,0.893432,168.693493,95.089628,2012-08-14,1,NaN
62,미주제강,2010,-9.722708,-10.902946,-0.426595,187.002406,128.375971,2012-04-17,1,NaN
78,디웍스 글로벌,2011,0.820023,-164.075593,-2.786615,123.649914,20.931989,2013-04-23,1,NaN
100,지티앤티,2013,-36.842478,-13.407850,-5.743638,124.499827,40.739976,2015-10-15,1,NaN
123,오리엔트 프리젠,2015,-0.597023,-17.340562,-3.123833,220.850733,37.858412,2017-02-24,1,NaN

In [20]:
df_OUTER_JOIN = pd.merge(부실기업리스트, 부도기사비율, left_on='회사명', right_on='기업', how='outer')
df_OUTER_JOIN.drop(["기업"],axis=1,inplace=True)
df_OUTER_JOIN.fillna(0,inplace=True)
df_OUTER_JOIN=df_OUTER_JOIN[["회사명","회계년도","폐지일자","운전자산총자본비율","이익잉여금총자산비율","총자산이익율","시장가부채비율","매출액회전율","부도기사 비율","부실기업여부"]]
df_OUTER_JOIN.to_csv("상폐기업_부도기사비율_재무비율.csv",encoding="utf-8-sig")

In [56]:
df_3=df_3[["회사명","폐지일자"]]
df_3.reset_index(inplace=True)
df_3.drop(["index"],inplace=True,axis=1)
df_3.loc[8] = ['스맥스', '2017-02-24']
df_3

        회사명        폐지일자
0      유비트론  2011-10-06
1    디에이치패션  2012-08-01
2     인스프리트  2012-10-12
3   에이치디시에스  2012-08-14
4      미주제강  2012-04-17
5   디웍스 글로벌  2013-04-23
6      지티앤티  2015-10-15
7  오리엔트 프리젠  2017-02-24
8       스맥스  2017-02-24

In [45]:
df_3.to_csv("상폐기업_기사없는거.csv",encoding="utf-8-sig")